<div class="head">
<h1>Welcome New Applicant!</h1>
<h3>Please fill out the form below. You have a total of 50 points to allocate to your skills</h3>
</div>

<%= render 'form' %>

<%= link_to 'Back', applicants_path %>
