/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @font-face {
   font-family: 'MuseoSans500';
   src: url(/assets/MuseoSans_500.ttf) format('truetype');
 }

 body {
   font-family: 'MuseoSans500';
 }



 .form {
   background-color: #456990;
   margin-left: 22%;
   margin-right: 22%;
   padding: 4% 4% 6% 4%;
   line-height: 60px;
   letter-spacing: 2px;
 }

 .head {
   text-align: center;
   color: #AEC8C3;
 }

 input {
   font-family: 'MuseoSans500';
   background-color: #E4FDE1;
   height: 40px;
   width: 20%;
   font-size: 20px;
   float: right;
   text-align: center;
   color: #27949D;
 }

 input#applicant_name {
   width: 100%;
   text-align: left;
   letter-spacing: 2px;
 }

 input#applicant_email {
   width: 100%;
   text-align: left;
   letter-spacing: 2px;
 }

 input#applicant_repo {
   width: 100%;
   text-align: left;
   letter-spacing: 2px;
 }

 input#applicant_url {
   width: 100%;
   text-align: left;
   letter-spacing: 2px;
 }
 ::-webkit-input-placeholder {
   color: #27949D;
   font-size: 13px;
 }

 .skills {
   color: #AEC8C3;
 }


 input[type="submit"] {
   width: 100%;
   background-color: #F45B69;
   color: #E6EED6;
   border: 0,0,0,0;
   height: 35px;
 }

 label {
   align-content: stretch;
   margin-right: 0.5em;
   font-size: 14px;
 }

 .show {
   color: #AEC8C3;
   font-family: 'MuseoSans500';
   text-align: center;
 }

 .confirmation {
   color:  #AEC8C3;
   text-align: center;
   background-color: #456990;
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 15%;
   padding-top: 10%;
   padding-bottom: 10%;
   font-size: 20px;
   letter-spacing: 1.5px;

 }
